@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Rye");
html, body {
  font-family: "Rye", cursive;
  color: #383637;
  background-color: #A0BEDF;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

nav {
  background-color: #A0BEDF;
  text-align: center;
  border-bottom: 1px solid #383637;
  height: 130px;
  width: 100%;
  margin: 0;
  overflow: hidden; }

.main {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  background: -webkit-linear-gradient(rgba(13, 13, 13, 0.8), rgba(13, 13, 13, 0.8)), url("../img/bg.jpg");
  background: -moz-linear-gradient(rgba(13, 13, 13, 0.8), rgba(13, 13, 13, 0.8)), url("../img/bg.jpg");
  background: linear-gradient(rgba(13, 13, 13, 0.8), rgba(13, 13, 13, 0.8)), url("../img/bg.jpg"); }

.main img {
  postion: absolute;
  height: 55%;
  padding: 20px;
  top: 50%;
  left: 50%; }

.container {
  text-align: center; }

.capabilities-list {
  padding: 0;
  list-style-type: none; }

.capabilities-list-item {
  display: inline-block;
  margin: 0 1em 2em; }
  .capabilities-list-item:first-child {
    margin-left: 0; }
  .capabilities-list-item:last-child {
    margin-right: 0; }

.capability-title {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #383637;
  transform: translate3d(0, 0, 0);
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.55, 0, 0.51, 1);
  will-change: opacity;
  -webkit-backface-visibility: hidden; }
  .animate .capability-title {
    transition: opacity 150ms cubic-bezier(0.55, 0, 0.51, 1);
    opacity: 1; }
  .capability-title .lower {
    text-transform: lowercase; }
  .capability-title > span:not(:first-child):before {
    content: "\a";
    white-space: pre; }

.barber-icon > g > * {
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  transition-timing-function: cubic-bezier(0.55, 0, 0.51, 1);
  will-change: stroke-dashoffset; }

.straight-razor-blade-right, .straight-razor-edge-right, .straight-razor-blade-left, .straight-razor-edge-left, .straight-razor-line-inner, .straight-razor-fulcrum {
  transition-duration: 700ms;
  stroke-dasharray: 120;
  stroke-dashoffset: 120; }
  .animate .straight-razor-blade-right,
  .animate .straight-razor-edge-right,
  .animate .straight-razor-blade-left,
  .animate .straight-razor-edge-left,
  .animate .straight-razor-line-inner,
  .animate .straight-razor-fulcrum {
    stroke-dashoffset: 0; }

.comb-handle {
  transition-duration: 750ms;
  stroke-dasharray: 160;
  stroke-dashoffset: 160; }
  .animate .comb-handle {
    stroke-dashoffset: 0; }

.comb-line {
  transition-duration: 300ms;
  transition-delay: 400ms;
  stroke-dasharray: 120;
  stroke-dashoffset: 120; }
  .comb-line:nth-of-type(2) {
    transition-delay: 500ms; }
  .animate .comb-line {
    stroke-dashoffset: 0; }

.comb-tine {
  transition-duration: 300ms;
  stroke-dasharray: 20;
  stroke-dashoffset: 20; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 20ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 40ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 60ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 80ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 100ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 120ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 140ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 160ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 180ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 200ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 220ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 240ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 260ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 280ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 300ms; }
  .comb-tine:nth-of-type($i) {
    transition-delay: 320ms; }
  .animate .comb-tine {
    stroke-dashoffset: 0; }

.pick-handle {
  transition-duration: 500ms;
  stroke-dasharray: 100;
  stroke-dashoffset: 100; }
  .animate .pick-handle {
    stroke-dashoffset: 0; }

.pick-line-inner {
  transition-duration: 300ms;
  transition-delay: 250ms;
  stroke-dasharray: 60;
  stroke-dashoffset: 60; }
  .pick-line-inner:nth-of-type(2) {
    transition-delay: 350ms; }
  .animate .pick-line-inner {
    stroke-dashoffset: 0; }

.pick-tine {
  transition-duration: 150ms;
  stroke-dasharray: 60;
  stroke-dashoffset: 60; }
  .pick-tine:nth-of-type(n + $i) {
    transition-delay: 50ms; }
  .pick-tine:nth-of-type(n + $i) {
    transition-delay: 100ms; }
  .pick-tine:nth-of-type(n + $i) {
    transition-delay: 150ms; }
  .pick-tine:nth-of-type(n + $i) {
    transition-delay: 200ms; }
  .pick-tine:nth-of-type(n + $i) {
    transition-delay: 250ms; }
  .animate .pick-tine {
    stroke-dashoffset: 0; }

.pick-circle {
  transition-duration: 200ms;
  stroke-dasharray: 22;
  stroke-dashoffset: 22; }
  .animate .pick-circle {
    stroke-dashoffset: 0; }

.scissors-blade-left, .scissors-blade-right {
  transition-duration: 400ms;
  stroke-dasharray: 120;
  stroke-dashoffset: 120; }
  .animate .scissors-blade-left,
  .animate .scissors-blade-right {
    stroke-dashoffset: 0; }

.scissors-fulcrum {
  transition-duration: 400ms;
  stroke-dasharray: 22;
  stroke-dashoffset: 22; }
  .animate .scissors-fulcrum {
    stroke-dashoffset: 0; }

.scissors-handle-left, .scissors-handle-right {
  transition-duration: 300ms;
  transition-delay: 150ms;
  stroke-dasharray: 34;
  stroke-dashoffset: 34; }
  .animate .scissors-handle-left,
  .animate .scissors-handle-right {
    stroke-dashoffset: 0; }

.razor-comb-edge-right, .razor-comb-blade-right, .razor-comb-blade-left {
  transition-duration: 700ms;
  stroke-dasharray: 140;
  stroke-dashoffset: 140; }
  .animate .razor-comb-edge-right,
  .animate .razor-comb-blade-right,
  .animate .razor-comb-blade-left {
    stroke-dashoffset: 0; }

.razor-comb-tine {
  transition-duration: 200ms;
  stroke-dasharray: 20;
  stroke-dashoffset: 20; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 50ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 100ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 150ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 200ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 250ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 300ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 350ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 400ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 450ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 500ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 550ms; }
  .razor-comb-tine:nth-of-type($i) {
    transition-delay: 600ms; }
  .animate .razor-comb-tine {
    stroke-dashoffset: 0; }

.razor-comb-line-inner {
  transition-duration: 400ms;
  transition-delay: 300ms;
  stroke-dasharray: 120;
  stroke-dashoffset: 120; }
  .animate .razor-comb-line-inner {
    stroke-dashoffset: 0; }

.razor-comb-fulcrum {
  transition-duration: 350ms;
  stroke-dasharray: 22;
  stroke-dashoffset: 22; }
  .animate .razor-comb-fulcrum {
    stroke-dashoffset: 0; }

.safety-razor-handle, .safety-razor-blade-top, .safety-razor-blade-bottom {
  transition-duration: 700ms;
  stroke-dasharray: 120;
  stroke-dashoffset: 120; }
  .animate .safety-razor-handle,
  .animate .safety-razor-blade-top,
  .animate .safety-razor-blade-bottom {
    stroke-dashoffset: 0; }

.safety-razor-line-inner {
  transition-duration: 350ms;
  stroke-dasharray: 20;
  stroke-dashoffset: 20; }
  .safety-razor-line-inner:nth-of-type($i) {
    transition-delay: 50ms; }
  .safety-razor-line-inner:nth-of-type($i) {
    transition-delay: 100ms; }
  .safety-razor-line-inner:nth-of-type($i) {
    transition-delay: 150ms; }
  .safety-razor-line-inner:nth-of-type($i) {
    transition-delay: 200ms; }
  .safety-razor-line-inner:nth-of-type($i) {
    transition-delay: 250ms; }
  .safety-razor-line-inner:nth-of-type($i) {
    transition-delay: 300ms; }
  .animate .safety-razor-line-inner {
    stroke-dashoffset: 0; }

.safety-razor-circle {
  transition-duration: 300ms;
  stroke-dasharray: 22;
  stroke-dashoffset: 22; }
  .animate .safety-razor-circle {
    stroke-dashoffset: 0; }

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 130%;
  color: #EAEBD7; }

.content p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 150%;
  margin: 0 auto;
  width: 70%; }

a {
  text-decoration: none;
  color: #383637; }

a:hover {
  color: #EAEBD7; }

#about {
  justify-content: center;
  align-items: center;
  height: 100%; }

#service {
  justify-content: center;
  align-content: center;
  height: 100%;
  background: -webkit-linear-gradient(rgba(13, 13, 13, 0.6), rgba(13, 13, 13, 0.6)), url("../img/pattern.png");
  background: -moz-linear-gradient(rgba(13, 13, 13, 0.6), rgba(13, 13, 13, 0.6)), url("../img/pattern.png");
  background: linear-gradient(rgba(13, 13, 13, 0.6), rgba(13, 13, 13, 0.6)), url("../img/pattern.png"); }

#barber {
  justify-content: center;
  align-content: center;
  height: 100%; }

#barber img {
  background: #EAEBD7;
  height: 180px;
  width: 180px;
  border: 0px solid #EAEBD7;
  border-radius: 50%; }

#gallery {
  justify-content: center;
  align-content: center;
  height: 100%;
  background: -webkit-linear-gradient(rgba(13, 13, 13, 0.6), rgba(13, 13, 13, 0.6)), url("../img/bg1.jpeg");
  background: -moz-linear-gradient(rgba(13, 13, 13, 0.6), rgba(13, 13, 13, 0.6)), url("../img/bg1.jpeg");
  background: linear-gradient(rgba(13, 13, 13, 0.6), rgba(13, 13, 13, 0.6)), url("../img/bg1.jpeg"); }

.cards .cards img {
  margin: 10px;
  border: 3px solid #EAEBD7;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  max-width: 25vw; }

/*# sourceMappingURL=style.css.map */
